<div class="p3">
    <form [formGroup]="questionStatisticsForm">
        <h2 class="text-blue-400">Please choose a course</h2>
        <div>
            <app-searchable-select
                labelText="Course with statistics"
        
                [multi]="false"
                [searchable]="true"
                [selectableItems]="(selectorCourses$ | async) ?? []"
        
                textKey="text"
                valueKey="idCourse"
        
                [useObjectAsValue]="false"

                [control]="questionStatisticsForm.get('idCourse')!"

                noItemsText="No courses have calculated statistics"
            >
            </app-searchable-select>
        </div>

        <div *ngIf="selectedCourse !== null">
            <label class="text-sm">Choose a calculation</label>
            <select
                class="p-3 bg-white border border-slate-500/50 rounded cursor-pointer w-full"
                formControlName="idCalculation"
            >
                <option
                    *ngFor="let calculation of courseCalculations" [ngValue]="calculation.calculationGroup"
                    (click)="selectCalculation(calculation)"
                >
                    ({{ calculation.calculationGroup }}) Ac. years {{ calculation.acYears }}
                </option>
            </select>
        </div>
    </form>

    <div *ngIf="selectedCalculation !== null">
        <hr class="my-3">
        <div class="overflow-auto max-h-[560px]">
            <table class="p-3 text-center w-full">
                <thead class="sticky top-0 bg-white">
                    <tr>
                        <th>Question ID</th>
                        <th>Score % mean</th>
                        <th>Score % stddev</th>
                        <th>Score % median</th>
                        <th>Total score achieved</th>
                        <th>Total achievable score</th>
                        <th>Number of answers</th>
                        <th>% of correct answers</th>
                        <th>% of incorrect answers</th>
                        <th>% of unanswered</th>
                        <th>% of partial answers</th>
                        <th>
                            <table>
                                <thead>
                                    <tr>
                                        <th>IRT information</th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="flex justify-between items-center text-center">
                                                <div class="w-2/12">Default item offset constant</div>
                                                <div class="w-2/12">Level of item knowledge</div>
                                                <div class="w-2/12">Item difficulty</div>
                                                <div class="w-2/12">Guess probability</div>
                                                <div class="w-2/12">Mistake probability</div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </th>
                        <th class="px-2">Question class</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template
                        ngFor
                        let-clCalc
                        [ngForOf]="(courseLevelCalcs ?? [])"
                    >
                        <tr
                            class="hover:bg-blue-400/25"
                            title="Click to oveview exam-level calculations including this question"
                            (click)="toggleVisibilityWithClasses(qTlInfo)"
                        >
                            <td>
                                <span
                                    class="underline cursor-pointer"
                                    title="Click to open IRT overview"
                                    [routerLink]="['..', 'question-irt-overview', clCalc.id_question]"
                                >
                                    {{ clCalc.id_question }}
                                </span> <mat-icon
                                    class="text-sm cursor-pointer"
                                    title="Click to open IRT overview"
                                    (click)="showHelp($event, helpText)"
                                >
                                    help
                                </mat-icon>

                                <span
                                    #helpText
                                    class="hidden"
                                    (click)="$event.preventDefault(); $event.stopPropagation();"
                                >Click to open IRT overview</span>
                            </td>
                            <td>
                                <div
                                    class="px-2 py-1 rounded-lg w-full"
                                    [appGradient]="clCalc.score_perc_mean"
                                    [gradientStart]="{ r: 255, g: 75, b: 75 }"
                                    [gradientEnd]="{ r: 150, g: 255, b: 150 }"
                                    gradientType="background"
                                >{{ (clCalc.score_perc_mean * 100).toFixed(2) }}</div>
                            </td>
                            <td>
                                <div
                                    class="px-2 py-1 rounded-lg w-full"
                                    [appGradient]="clCalc.score_perc_std_dev"
                                    [gradientStart]="{ r: 150, g: 255, b: 150 }"
                                    [gradientEnd]="{ r: 255, g: 75, b: 75 }"
                                    gradientType="background"
                                >{{ (clCalc.score_perc_std_dev * 100).toFixed(2) }}</div>
                            </td>
                            <td>
                                <div
                                    class="px-2 py-1 rounded-lg w-full"
                                    [appGradient]="clCalc.score_perc_median"
                                    [gradientStart]="{ r: 255, g: 75, b: 75 }"
                                    [gradientEnd]="{ r: 150, g: 255, b: 150 }"
                                    gradientType="background"
                                >{{ (clCalc.score_perc_median * 100).toFixed(2) }}</div>
                            </td>
                            <td>{{ clCalc.total_achieved }}</td>
                            <td>{{ clCalc.total_achievable }}</td>
                            <td>{{ clCalc.answers_count }}</td>
                            <td>{{ (clCalc.correct_perc * 100).toFixed(2) }}</td>
                            <td>{{ (clCalc.incorrect_perc * 100).toFixed(2) }}</td>
                            <td>{{ (clCalc.unanswered_perc * 100).toFixed(2) }}</td>
                            <td>{{ (clCalc.partial_perc * 100).toFixed(2) }}</td>

                            <td>
                                <div class="flex justify-between items-center text-center">
                                    <div class="w-2/12">{{ clCalc.default_item_offset_parameter.toFixed(4) }}</div>
                                    <div class="w-2/12">{{ clCalc.level_of_item_knowledge.toFixed(4) }}</div>
                                    <div class="w-2/12">{{ clCalc.item_difficulty.toFixed(4) }}</div>
                                    <div class="w-2/12">{{ clCalc.item_guess_probability.toFixed(4) }}</div>
                                    <div class="w-2/12">{{ clCalc.item_mistake_probability.toFixed(4) }}</div>
                                </div>
                            </td>

                            <td>
                                <div
                                    #badge
                                    class="px-2 py-1 rounded-lg w-full"
                                >{{ setClassificationBadge(badge, clCalc) }}</div>
                            </td>
                        </tr>
                        <tr #qTlInfo class="hidden border mx-2">
                            <td class="p-8" colspan="13">
                                <div class="overflow-auto max-h-[560px]">
                                    <table class="p-3 text-center w-full">
                                        <thead>
                                            <th>Exam ID</th>
                                            <th>Score % mean</th>
                                            <th>Score % stddev</th>
                                            <th>Score % median</th>
                                            <th>Total score sum</th>
                                            <th>Part of total score sum on exam (%)</th>
                                            <th>Number of answers</th>
                                            <th>% of correct answers</th>
                                            <th>% of incorrect answers</th>
                                            <th>% of unanswered</th>
                                            <th>% of partial answers</th>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="
                                                    let tlCalc of (
                                                        getExamLevelCalculationsForQuestion(
                                                            clCalc.id_question
                                                        ) ?? []
                                                    )
                                                "
                                            >
                                                <td>{{ tlCalc.id_based_on_test }}</td>
                                                <td>
                                                    <div
                                                        class="px-2 py-1 rounded-lg w-full"
                                                        [appGradient]="tlCalc.score_perc_mean"
                                                        [gradientStart]="{ r: 255, g: 75, b: 75 }"
                                                        [gradientEnd]="{ r: 150, g: 255, b: 150 }"
                                                        gradientType="background"
                                                    >{{ (tlCalc.score_perc_mean * 100).toFixed(2) }}</div>
                                                </td>
                                                <td>
                                                    <div
                                                        class="px-2 py-1 rounded-lg w-full"
                                                        [appGradient]="tlCalc.score_perc_std_dev"
                                                        [gradientStart]="{ r: 150, g: 255, b: 150 }"
                                                        [gradientEnd]="{ r: 255, g: 75, b: 75 }"
                                                        gradientType="background"
                                                    >{{ (tlCalc.score_perc_std_dev * 100).toFixed(2) }}</div>
                                                </td>
                                                <td>
                                                    <div
                                                        class="px-2 py-1 rounded-lg w-full"
                                                        [appGradient]="tlCalc.score_perc_median"
                                                        [gradientStart]="{ r: 255, g: 75, b: 75 }"
                                                        [gradientEnd]="{ r: 150, g: 255, b: 150 }"
                                                        gradientType="background"
                                                    >{{ (tlCalc.score_perc_median * 100).toFixed(2) }}</div>
                                                </td>
                                                <td>{{ tlCalc.score_sum }}</td>
                                                <td>{{ (tlCalc.part_of_total_sum * 100).toFixed(2) }}</td>
                                                <td>{{ tlCalc.count }}</td>
                                                <td>{{ (tlCalc.correct_perc * 100).toFixed(2) }}</td>
                                                <td>{{ (tlCalc.incorrect_perc * 100).toFixed(2) }}</td>
                                                <td>{{ (tlCalc.unanswered_perc * 100).toFixed(2) }}</td>
                                                <td>{{ (tlCalc.partial_perc * 100).toFixed(2) }}</td>
                                            </tr>
                                            <tr class="hidden first:table-row">
                                                <td colspan="11">No exam level calculations for this question</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </ng-template>

                    <tr *ngIf="(courseLevelCalcs ?? []).length === 0">
                        <td colspan="13">No course level calcultions found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
