<div class="p-3">
    <label class="text-sm">{{ labelText }}</label>

    <div #choiceList class="relative">
        <div
            class="p-3 bg-white border border-slate-500/50 rounded cursor-pointer w-full flex justify-between items-center"
            (click)="optionsExpanded = !optionsExpanded"
        >
            <div *ngIf="!multi; else multiDisplay">
                <div class="inline-block">{{ (selectedItems.length <= 0) ? "" : getItemText(selectedItems[0]) }}</div>
            </div>

            <ng-template #multiDisplay>
                <div
                    class="flex flex-wrap"
                >
                    <div
                        class="w-fit shadow-md bg-gray-200/25 border border-slate-500/15 p-1 flex justify-between cursor-default me-2 my-1" 
                        *ngFor="let selectedItem of selectedItems"
                    >
                        <div class="inline-block px-1">{{ getItemText(selectedItem) }}</div>
                        <mat-icon
                            class="select-none cursor-pointer text-sm inline align-middle text-center px-1"
                            (click)="
                                remove(selectedItem);
                                control.setValue(getSelectedItemValues());
                            "
                        >close</mat-icon>
                    </div>
                </div>
            </ng-template>

            <div>
                <mat-icon
                    class="select-none cursor-pointer px-1 me-3"
                    (click)="
                        remove(selectedItems[0]);
                        control.setValue(null);
                    "
                    *ngIf="!multi && selectedItems.length !== 0"
                >close</mat-icon>
                <mat-icon class="select-none">{{ (optionsExpanded) ? "expand_less" : "expand_more" }}</mat-icon>
            </div>
        </div>
        <ul
            class="px-3 pb-3 mt-1 bg-white border border-slate-500/50 rounded w-full absolute z-50 overflow-auto max-h-[560px]"
            [ngClass]="ngClassObj"
            *ngIf="optionsExpanded"
        >
            <li class="bg-white sticky top-0 mb-3" *ngIf="searchable">
                <div class="relative top-3">
                    <mat-icon class="absolute top-1/2 -translate-y-1/2 mx-3 select-none">search</mat-icon>
                    <input
                        #searchInput
                        class="w-full py-3 ps-10 rounded border border-slate-400/25"
                        type="text" [(ngModel)]="searchTerm"
                        [ngModelOptions]="{ standalone: true }"
                    >
                    <mat-icon
                        class="absolute top-1/2 -translate-y-1/2 right-0 mx-3 select-none cursor-pointer"
                        (click)="clearSearch($event)"
                        *ngIf="searchInput.value"
                    >
                        close
                    </mat-icon>
                </div>
            </li>
            <li
                class="p-3 cursor-pointer border-t border-slate-400/25 hover:bg-blue-400/15 bg-white"
                [ngClass]="{
                    'first:border-none': !searchable,
                    '[&:nth-child(2)]:border-none': searchable
                }"
                *ngFor="let selectableItem of getFilteredItems()"
                (click)="
                    $event.preventDefault();
                    $event.stopPropagation();

                    select(selectableItem);
                    control.setValue(getSelectedItemValues());

                    optionsExpanded = multi;
                "
            >
                {{ getItemText(selectableItem) }}
            </li>
            <li
                class="p-3 text-gray-500/50 border-t border-slate-400/25 mt-3 hidden"
                [ngClass]="{
                    'first:block first:border-none': !searchable,
                    '[&:nth-child(2)]:block [&:nth-child(2)]:border-none': searchable
                }"
            >
                {{ noItemsText }}
            </li>
        </ul>
    </div>
</div>
