<div class="relative h-full flex">
    <mat-icon
        class="ms-2 mt-3 select-none cursor-pointer z-[1000] w-fit"
        title="Hide menu"
        (click)="toggleMenu()"
        [ngClass]="{ 'absolute': !menuHidden, 'block mx-2': menuHidden }"
    >{{ (menuHidden) ? 'menu' : 'arrow_back' }}</mat-icon>

    <div class="flex justify-start w-full h-full">
        <div
            class="shadow-md h-full transition-width duration-500"
            [ngClass]="{
                'w-0': menuHidden,
                'w-full md:w-5/12 xl:w-1/4 basis-full md:basis-5/12 xl:basis-1/4': !menuHidden
            }"
        >
            <app-navbar-menu
                (itemSelected)="menuHidden = true"
                class="transition-opacity duration-500"
                [ngClass]="{ 'opacity-0': menuHidden, 'opacity-100': !menuHidden }"
            ></app-navbar-menu>
        </div>
    
        <div
            class="mt-3 p-3 z-[1000] overflow-auto"
            [ngClass]="{
                'hidden md:block md:w-7/12 xl:w-3/4 md:basis-7/12 xl:basis-3/4': !menuHidden,
                'basis-full w-full': menuHidden
            }"
        >
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
