<div class="p-3">
    <div [formGroup]="startExerciseForm">
        <div class="w-full mb-2">
            <app-searchable-select
                class="w-full"

                textKey="courseTitle"
                valueKey="course"

                labelText="Select course"

                [searchable]="true"

                [selectableItems]="(courses$ | async) ?? []"
                [control]="startExerciseForm.get('selectedCourse')!"
            ></app-searchable-select>
        </div>

        <div *ngIf="startExerciseForm.get('selectedCourse')!.value !== null">
            <div class="p-3 shadow-md shadow-gray-500/35 rounded border border-slate-500/15">
                <h2 class="text-lg">Current exercise</h2>
                <hr class="my-3">
                <div *ngIf="currentlyActiveExercise === null; else hasExercise">
                    <p class="mb-3">No currently active exercise</p>
                    <hr class="my-3">

                    <div>
                        <app-searchable-select
                            class="w-full"

                            textKey="exerciseName"
                            valueKey="exerciseDefinition"

                            labelText="Select an exercise"

                            [searchable]="true"

                            [selectableItems]="(exerciseDefinitions$ | async) ?? []"
                            [control]="startExerciseForm.get('selectedExerciseDefinition')!"
                        ></app-searchable-select>

                        <app-searchable-select
                            labelText="Pick a number of questions you want in your exercise"

                            [multi]="false"
                            [searchable]="false"
                            [selectableItems]="selectableQuestionCounts"

                            textKey="text"
                            valueKey="value"

                            [useObjectAsValue]="false"

                            [control]="startExerciseForm.get('questionsCount')!"
                        ></app-searchable-select>

                        <div class="flex flex-col md:flex-row justify-between items-center mb-3">
                            <div *ngFor="let difficulty of availableDifficulties">
                                <button
                                    mat-flat-button
                                    [color]="QUtil.getMaterialColorClassForClassification(difficulty)"

                                    (click)="
                                        startExerciseForm.get('selectedStartDifficulty')?.setValue(
                                            (difficulty === startExerciseForm.get('selectedStartDifficulty')?.value) ?
                                                null :
                                                difficulty
                                        )
                                    "
                                    [disabled]="startExerciseForm.get('considerPreviousExercises')?.value"
                                    *ngIf="
                                        startExerciseForm.get('selectedStartDifficulty')?.value === difficulty;
                                        else strokedBtn;
                                    "
                                >
                                    Start on {{ QUtil.getQuestionClassificationText(difficulty) }} difficulty
                                </button>

                                <ng-template #strokedBtn>
                                    <button
                                        mat-stroked-button
                                        [color]="QUtil.getMaterialColorClassForClassification(difficulty)"

                                        (click)="
                                            startExerciseForm.get('selectedStartDifficulty')?.setValue(
                                                (difficulty === startExerciseForm.get('selectedStartDifficulty')?.value) ?
                                                    null :
                                                    difficulty
                                            )
                                        "
                                        [disabled]="startExerciseForm.get('considerPreviousExercises')?.value"
                                    >
                                        Start on {{ QUtil.getQuestionClassificationText(difficulty) }} difficulty
                                    </button>
                                </ng-template>
                            </div>
                        </div>

                        <div class="mb-3">
                            <mat-slide-toggle
                                class="block mb-3"
                                formControlName="considerPreviousExercises"
                                [labelPosition]="'before'"
                                color="accent"
                            >Previous exercise success impacts starting point?</mat-slide-toggle>

                            <div *ngIf="startExerciseForm.get('considerPreviousExercises')?.value ?? false">
                                You will start on
                                <span
                                    class="inline-block"
                                    appBadge
                                    [backgroundColorClass]="
                                        QUtil.getColorClassForClassification('bg', studentStartDifficulty ?? 'normal')
                                    "
                                >{{ QUtil.getQuestionClassificationText(studentStartDifficulty ?? 'normal') }}</span>
                                difficulty
                            </div>
                        </div>
                        <button
                            type="button"
                            mat-flat-button
                            color="primary"
                            (click)="startExercise()"
                        >Start new exercise</button>
                    </div>
                </div>

                <ng-template #hasExercise>
                    <div>
                        <div class="mb-3">You have an active exercise</div>
                        <button type="button" mat-flat-button color="primary" (click)="continueExercise()">
                            Continue your active exercise
                        </button>
                    </div>
                </ng-template>
            </div>

            <hr class="my-4">

            <div class="p-3 shadow-md shadow-gray-500/35 rounded border border-slate-500/15">
                <h2 class="text-lg">Previous exercises</h2>
                <hr class="my-3">
                <div class="overflow-auto max-h-[560px]">
                    <table class="w-full p-3 text-center">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Exercise name</th>
                                <th class="text-center">Question count</th>
                                <th class="text-center">Started on</th>
                                <th class="text-center">Finished on</th>
                                <th class="text-center">Start IRT score</th>
                                <th class="text-center">Final IRT score</th>
                                <th class="text-center">IRT score delta</th>
                                <th class="text-center">IRT score increase/decrese %</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let exercise of (previousExercises$ | async) ?? []">
                                <td class="text-center">{{ exercise.id }}</td>
                                <td class="text-center">{{ exercise.exercise_name }}</td>
                                <td class="text-center">{{ exercise.questions_count }}</td>
                                <td class="text-center">{{ exercise.started_on | date:"dd. MM. yyyy. HH:mm:ss" }}</td>
                                <td class="text-center">{{ exercise.finished_on | date:"dd. MM. yyyy. HH:mm:ss" }}</td>
                                <td class="text-center">{{ exercise.start_irt_theta.toFixed(4) }}</td>
                                <td class="text-center">{{ exercise.final_irt_theta.toFixed(4) }}</td>
                                <td class="text-center">
                                    {{ (exercise.final_irt_theta - exercise.start_irt_theta).toFixed(4) }}
                                </td>
                                <td class="text-center">
                                    {{ (exercise.final_irt_theta / exercise.start_irt_theta).toFixed(4) }}
                                </td>
                            </tr>
                            <tr *ngIf="numberOfPreviousExercises === 0">
                                <td
                                    class="py-2 text-gray-500/50"
                                    colspan="9"
                                >No previous exercises</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
