<div>
    <form [formGroup]="jobExecutionForm">
        <div>
            <label class="text-sm">Job type</label>
            <select
                class="p-3 border border-slate-500/50 rounded w-full"
                [ngClass]="{
                    'bg-white cursor-pointer': jobExecutionFlowStep === 0,
                    'bg-gray-200/50 cursor-not-allowed': jobExecutionFlowStep !== 0
                }"
                formControlName="jobType"
            >
                <option *ngFor="let jt of (availableJobTypes$ | async)" [value]="jt.id" (click)="selectedJobType = jt">
                    ({{ jt.abbrevation }}) {{ jt.title }}
                </option>
            </select>
        </div>

        <div
            class="shadow-md border border-slate-200 p-3 mt-3"
            *ngIf="selectedJobType !== null && jobExecutionFlowStep === 0"
        >
            <h2 class="mb-3">Job type description</h2>
            <hr class="my-2">
            <p class="mb-3">{{ selectedJobType.description }}</p>

            <button type="button" (click)="advanceToFlowStep(1)" mat-flat-button color="primary">Next</button>
        </div>

        <div
            class="shadow-md border border-slate-200 p-3 mt-3"
            *ngIf="jobExecutionFlowStep >= 1"
        >
            <h2 class="mb-3">Job configuration</h2>
            <hr class="my-2">
            <p class="mb-3">Please configure the selected job below:</p>
            <hr class="my-2">

            <div>
                <label class="text-sm">Calculate for course</label>
                <select
                    class="p-3 bg-white border border-slate-500/50 rounded cursor-pointer w-full"
                    [ngClass]="{
                        'bg-white cursor-pointer': jobExecutionFlowStep === 1,
                        'bg-gray-200/50 cursor-not-allowed': jobExecutionFlowStep !== 1
                    }"
                    formControlName="course"
                >
                    <option *ngFor="let course of (courses$ | async)" [value]="course.id">
                        ({{ course.course_acronym }}) {{ course.course_name }} - {{ course.ects_credits }}
                    </option>
                </select>
            </div>

            <div>
                <label class="text-sm">Start academic year</label>
                <select
                    class="p-3 bg-white border border-slate-500/50 rounded cursor-pointer w-full"
                    [ngClass]="{
                        'bg-white cursor-pointer': jobExecutionFlowStep === 1,
                        'bg-gray-200/50 cursor-not-allowed': jobExecutionFlowStep !== 1
                    }"
                    formControlName="academicYear"
                >
                    <option *ngFor="let acYear of (academicYears$ | async)" [value]="acYear.id">
                        {{ acYear.title }} ({{ acYear.date_start | date:"dd. MM. yyyy." }} - {{ acYear.date_start | date:"dd. MM. yyyy." }})
                    </option>
                </select>
            </div>

            <div>
                <label class="text-sm">Number of included previous years</label>
                <input
                    class="p-3 bg-white border border-slate-500/50 rounded w-full"
                    [ngClass]="{
                        'bg-white': jobExecutionFlowStep === 1,
                        'bg-gray-200/50 cursor-not-allowed': jobExecutionFlowStep !== 1
                    }"
                    formControlName="numberOfIncludedPreviousYears"

                    type="number"

                    min="-1"
                >
            </div>

            <div>
                <label class="text-sm">
                    Maximum job timeout (ms) <span class="cursor-pointer" title="For most jobs 200000 ms should be enogh">?</span>
                </label>
                <input
                    class="p-3 bg-white border border-slate-500/50 rounded w-full"
                    [ngClass]="{
                        'bg-white': jobExecutionFlowStep === 1,
                        'bg-gray-200/50 cursor-not-allowed': jobExecutionFlowStep !== 1
                    }"
                    formControlName="maxJobTimeoutMs"

                    type="number"

                    min="0"
                >
            </div>

            <div class="flex w-full justify-start mb-3">
                <label class="text-sm me-5 w-1/4">Is periodical?</label>
                <mat-slide-toggle
                    color="secondary"
                    formControlName="periodical"
                ></mat-slide-toggle>
            </div>

            <div class="flex w-full justify-start">
                <label class="text-sm me-5 w-1/4">Force the calculation?</label>
                <mat-slide-toggle
                    color="secondary"
                    formControlName="forceCalculation"
                ></mat-slide-toggle>
            </div>

            <!-- 

                {
                    "forceCalculation": false,
                }
             -->

            <button
                class="mt-3"
                type="button"
                (click)="advanceToFlowStep(2)"
                mat-flat-button
                color="primary"
                *ngIf="jobExecutionFlowStep === 1"
            >Next</button>
        </div>
    </form>
</div>
