<div [formGroup]="nodeSelectionForm">
    <div class="p-3 shadow-md border border-slate-500/50 rounded-lg">
        <h2 class="text-lg text-purple-600">Question whitelist definition</h2>
        <hr class="my-3">

        <app-searchable-select
            labelText="Select a course"
    
            [multi]="false"
            [searchable]="true"
            [selectableItems]="(courses$ | async) ?? []"
    
            textKey="text"
            valueKey="course"
    
            [useObjectAsValue]="false"

            [control]="nodeSelectionForm.get('selectedCourse')!"
        ></app-searchable-select>

        <div
            class="shadow-md rounded-lg p-3 border border-slate-500/50"
            *ngIf="(nodeSelectionForm.get('selectedCourse')?.value ?? null) !== null">
            <app-searchable-select
                labelText="Select a previously defined exercise"
        
                [multi]="false"
                [searchable]="true"
                [selectableItems]="(exerciseDefinitions$ | async) ?? []"
        
                textKey="text"
                valueKey="exDefinition"
        
                [useObjectAsValue]="false"
    
                [control]="nodeSelectionForm.get('selectedExerciseDefinition')!"
            ></app-searchable-select>

            <div
                class="mt-3 mx-2"
                *ngIf="(nodeSelectionForm.get('selectedExerciseDefinition')?.value ?? null) === null"
            >
                <hr class="mb-3">

                <h2 class="text-purple-600">Delete exercise definitions</h2>

                <div>
                    <app-searchable-select
                        labelText="Select a previously defined exercise"
                
                        [multi]="true"
                        [searchable]="true"
                        [selectableItems]="(exerciseDefinitions$ | async) ?? []"
                
                        textKey="text"
                        valueKey="exDefinition"
                
                        [useObjectAsValue]="false"
            
                        [control]="nodeSelectionForm.get('toRemoveExerciseDefinitions')!"
                    ></app-searchable-select>

                    <button
                        mat-flat-button
                        color="warn"

                        (click)="removeSelectedExerciseDefinitions()"

                        [disabled]="(nodeSelectionForm.get('toRemoveExerciseDefinitions')?.value ?? []).length === 0"
                    >Remove selected exercise definitions</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="(nodeSelectionForm.get('selectedExerciseDefinition')?.value ?? null) !== null">
        <div class="p-3 mt-3 shadow-md border border-slate-500/50 rounded-lg">
            <h3 class="text-purple-600 mb-3">Exercise progression</h3>

            <p>
                Student has to have
                <span class="text-green-600">
                    <b>
                        {{
                            nodeSelectionForm.get('selectedExerciseDefinition')
                                !.value
                                !.correct_answers_to_upgrade
                        }}
                    </b> correct
                </span> answers to upgrade to a harder question<br><br>


                Student has to have
                <span class="text-red-600">
                    <b>
                        {{
                            nodeSelectionForm.get('selectedExerciseDefinition')
                                !.value
                                !.incorrect_answers_to_downgrade
                        }}
                    </b> incorrect
                </span> answers to downgrade to an easier question<br><br>


                Student has to
                <span class="text-yellow-600">
                    skip
                    <b>
                        {{
                            nodeSelectionForm.get('selectedExerciseDefinition')
                                !.value
                                !.skipped_questions_to_downgrade
                        }}
                    </b>
                </span> questions to downgrade to an easier question<br><br>
            </p>

            <hr class="my-3">

            <div class="my-3" formGroupName="progressionCustomization">
                <h2 class="text-purple-600">Customize progression</h2>
                <hr class="mt-3">

                <div class="mt-3">
                    <label class="text-sm">
                        Sequential correct answers required to upgrade question difficulty
                    </label>
                    <input
                        class="w-full p-3 rounded border border-slate-400/25"
                        type="number"
                        min="1"
                        formControlName="correctAnswersToUpgrade"
                    >
                </div>

                <div class="mt-3">
                    <label class="text-sm">
                        Sequential incorrect answers required to downgrade question difficulty
                    </label>
                    <input
                        class="w-full p-3 rounded border border-slate-400/25"
                        type="number"
                        min="1"
                        formControlName="incorrectAnswersToDowngrade"
                    >
                </div>

                <div class="mt-3">
                    <label class="text-sm">
                        Sequential skipped questions required to downgrade question difficulty
                    </label>
                    <input
                        class="w-full p-3 rounded border border-slate-400/25"
                        type="number"
                        min="1"
                        formControlName="skippedQuestionsToDowngrade"
                    >
                </div>
            </div>

            <button
                type="button"
                mat-flat-button
                color="primary"
                (click)="updateProgressionInformation()"
            >Update progression information</button>
        </div>

        <div #barChartCont class="p-3 mt-3 shadow-md border border-slate-500/50 rounded-lg">
            <h3 class="text-purple-600">Question classification information</h3>
            <hr class="my-3">
            <div>
                Total questions: {{ getExerciseTotalQuestionCount() }}
                <sup>
                    * this value can differ from the actual row count / classification count since one question can
                    appear in multiple nodes
                </sup>
            </div>
            <app-bar-chart
                [classes]="questionClasses"
                [classColors]="questionClassColors"

                [data]="courseQuestionClasses"

                dataClassKey="qClass"
                dataValueKey="qClassCount"

                [chartWidth]="400"

                [selectable]="true"
                selectionChannel="none"

                (dataSelected)="doFilterQuestionsByClass($event?.data?.qClass ?? '')"

                *ngIf="
                    courseQuestionClasses !== null && courseQuestionClasses.length !== 0; else noExerciseQuestions
                "
            ></app-bar-chart>
            <ng-template #noExerciseQuestions>
                <div>
                    This exercise does not have any nodes that contain questions with statistics information yet.

                    <br><br>If statistics and IRT calculation exists for this course, add nodes to this exercise
                    definition in order to display question difficulty information.<br><br>

                    If no statistics and IRT calculation is present for this course, start one, wait for it to
                    finish and then come back to overview the exam definition question difficulties.
                </div>
            </ng-template>

            <hr class="my-3">

            <div>
                <h2 class="text-purple-600">Override question difficulty classification</h2>
                <hr class="my-3">

                <div>
                    <label class="text-sm">Search by question ID or question text</label>
                    <input
                        type="text"
                        class="w-full p-3 border border-slate-400/25 rounded"
                        [(ngModel)]="filterText"
                        [ngModelOptions]="{ standalone: true }"
                        (blur)="doFilterQuestions(null)"
                        (keydown)="doFilterQuestions($event)"
                    >
                </div>

                <hr class="my-3">

                <div class="text-sm">
                    {{ getTableRowCountInfoText$() | async }}
                </div>
                <div class="mb-3 overflow-auto max-h-[560px]">
                    <table class="w-full">
                        <thead class="sticky top-0 my-1 bg-white z-[9999]">
                            <tr class="border-t border-slate-400/35">
                                <th class="p-3">Question ID</th>
                                <th class="p-3 max-w-[120px]">Question text</th>
                                <th class="p-3">Difficulty classification</th>
                                <th class="p-3">Override actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                class="border-y border-slate-400/35"
                                *ngFor="
                                    let exerDifficultyInfo of (filteredExerciseQuestionDifficultyInfo$ | async) ?? []
                                "
                            >
                                <td class="p-3">{{ exerDifficultyInfo.idQuestion }}</td>
                                <td class="p-3 max-w-[120px]">{{ exerDifficultyInfo.questionText }}</td>
                                <td class="p-3">
                                    <p *ngIf="!exerDifficultyInfo.isOverride; else overriden">
                                        This question appears in
                                        <b>{{ exerDifficultyInfo.difficulties.length }}</b> calculations
                                        <span *ngIf="exerDifficultyInfo.difficulties.length !== 0">
                                            and can appear in exercises as a(n):<br>
                                            <span *ngFor="let difficulty of exerDifficultyInfo.difficulties">
                                                <span
                                                    appBadge
                                                    class="inline-block"
                                                    [backgroundColorClass]="
                                                        QUtil.getColorClassForClassification('bg', difficulty)
                                                    "
                                                >
                                                    {{ QUtil.getQuestionClassificationText(difficulty) }}
                                                </span> question<br><br>
                                            </span>
                                        </span>
                                    </p>
                                    <ng-template #overriden>
                                        <p>
                                            This question's difficulty was overriden and set to:<br>
                                            <span
                                                appBadge
                                                class="inline-block"
                                                [backgroundColorClass]="
                                                    QUtil.getColorClassForClassification(
                                                        'bg',
                                                        exerDifficultyInfo.difficulties![0]!
                                                    )
                                                "
                                            >
                                                {{
                                                    QUtil.getQuestionClassificationText(
                                                        exerDifficultyInfo.difficulties![0]!
                                                    )
                                                }}
                                            </span>
                                        </p>
                                    </ng-template>
                                </td>
                                <td class="p-3">
                                    <div class="flex flex-col 2xl:flex-row justify-between items-center">
                                        <div class="w-full 2xl:w-1/6" *ngFor="let qClass of settableQuestionClasses">
                                            <div
                                                class="my-2 2xl:my-0"
                                                *ngIf="
                                                    exerDifficultyInfo.isOverride &&
                                                        !questionDifficultyOverridesMap
                                                            .has(exerDifficultyInfo.idQuestion) &&
                                                        (exerDifficultyInfo.difficulties ?? [])[0] === qClass ||
                                                    questionDifficultyOverridesMap.has(exerDifficultyInfo.idQuestion) &&
                                                        questionDifficultyOverridesMap
                                                            .get(exerDifficultyInfo.idQuestion) === qClass;
                                                    else btnStroke
                                                "
                                            >
                                                <button
                                                    class="w-full"
                                                    mat-flat-button
                                                    [color]="QUtil.getMaterialColorClassForClassification(qClass)"
                                                    (click)="
                                                        questionDifficultyOverridesMap
                                                            .set(
                                                                exerDifficultyInfo.idQuestion,
                                                                null
                                                            );
                                                    "
                                                >{{ QUtil.getQuestionClassificationText(qClass) }}</button>
                                            </div>
    
                                            <ng-template #btnStroke>
                                                <div class="my-2 2xl:my-0">
                                                    <button
                                                        class="w-full"
                                                        mat-stroked-button
                                                        [color]="QUtil.getMaterialColorClassForClassification(qClass)"
                                                        (click)="
                                                            questionDifficultyOverridesMap
                                                                .set(
                                                                    exerDifficultyInfo.idQuestion,
                                                                    qClass
                                                                );
                                                        "
                                                    >{{ QUtil.getQuestionClassificationText(qClass) }}</button>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr
                                class="border-y border-slate-400/35 hidden first:table-row text-center"
                            >
                                <td class="p-3 text-gray-500/50" colspan="4">No entries</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="flex flex-col md:flex-row items-center px-2">
                    <div class="w-full md:w-fit md:me-3">
                        <button
                            class="w-full"
                            mat-flat-button
                            color="primary"
                            (click)="confirmQuestionClassOverrides()"
                            [disabled]="questionDifficultyOverridesMap.size === 0"
                        >Confirm overrides</button>
                    </div>

                    <div class="w-full md:w-fit mt-3 md:mt-0">
                        <button
                            class="w-full"
                            mat-flat-button
                            color="warn"
                            (click)="questionDifficultyOverridesMap.clear()"
                            [disabled]="questionDifficultyOverridesMap.size === 0"
                        >Clear overrides</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-3 mt-3 shadow-md border border-slate-500/50 rounded-lg">
            <h3 class="text-purple-600">Whitelist exercise question nodes</h3>
            <hr class="mt-3">
            <app-searchable-select
                labelText="Select question nodes to whitelist"
                
                [multi]="true"
                [searchable]="true"
                [selectableItems]="(selectableNodes$ | async) ?? []"
                
                textKey="text"
                valueKey="node"

                [useObjectAsValue]="false"
                
                [control]="nodeSelectionForm.get('selectedNodes')!"
            ></app-searchable-select>

            <button
                type="button"
                mat-raised-button
                color="primary"
                [disabled]="!nodeSelectionForm.dirty"
                (click)="whitelistSelectedNodes()"
            >Confirm</button>

            <hr class="my-3">

            <div class="mt-3">
                <h3 class="text-purple-600">Exercise whitelisted nodes</h3>
                <hr class="my-3">
                <div class="overflow-auto max-h-[560px]">
                    <table class="w-full p-3 text-center">
                        <thead>
                            <tr>
                                <th>
                                    <mat-checkbox
                                        color="primary"
                                        [indeterminate]="removalSelectionStatus() === 'indeterminate'"
                                        (change)="setRemovalSelectionToAllNodes($event.checked)"
                                        [checked]="removalSelectionStatus() === 'full'"
                                        [disabled]="numberOfWhitelistedNodes === 0"
                                    ></mat-checkbox>
                                </th>
                                <th class="text-center">Node ID</th>
                                <th class="text-center">(Node type) - Name</th>
                                <th class="text-center">Node total questions</th>
                                <th class="text-center">Unclassified questions</th>
                                <th class="text-center">Very easy questions</th>
                                <th class="text-center">Easy questions</th>
                                <th class="text-center">Normal questions</th>
                                <th class="text-center">Hard questions</th>
                                <th class="text-center">Very hard questions</th>
                                <th class="text-center">Whitelisted on</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let node of (exerciseDefinitionWhitelistedNodes$ | async) ?? []">
                                <td>
                                    <mat-checkbox
                                        color="primary"
                                        [checked]="(this.nodeSelectionForm.get('toRemoveNodeIds')?.value ?? []).includes(node.id)"
                                        (change)="
                                            toggleNodeForRemoval(!$event.checked, node.id);
                                        "
                                    ></mat-checkbox>
                                </td>
                                <td class="text-center">{{ node.id }}</td>
                                <td class="text-center">({{ node.node_type_name }}) - {{ node.node_name }}</td>
                                <td class="text-center">{{ getNodeTotalQuestions(node.id) }}</td>
                                
                                <td class="text-center">{{ getNodeQuestionClassCount(node.id, "unclassified") }}</td>
                                <td class="text-center">
                                    {{ getNodeQuestionClassCount(node.id, "very_easy") }}
                                </td>
                                <td class="text-center">
                                    {{ getNodeQuestionClassCount(node.id, "easy") }}
                                </td>
                                <td class="text-center">
                                    {{ getNodeQuestionClassCount(node.id, "normal") }}
                                </td>
                                <td class="text-center">
                                    {{ getNodeQuestionClassCount(node.id, "hard") }}
                                </td>
                                <td class="text-center">
                                    {{ getNodeQuestionClassCount(node.id, "very_hard") }}
                                </td>

                                <td class="text-center">{{ node.whitelisted_on| date:"dd. MM. yyyy. HH:mm:ss" }}</td>
                            </tr>
                            <tr *ngIf="numberOfWhitelistedNodes === 0">
                                <td
                                    class="py-2 text-gray-500/50"
                                    colspan="11"
                                >No whitelisted nodes</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        
                <hr class="my-3">
        
                <button
                    class="mt-3"
                    type="button"
                    mat-flat-button
                    color="warn"
                    (click)="removeSelectedNodes()"
                    [disabled]="(nodeSelectionForm.get('toRemoveNodeIds')?.value ?? []).length === 0"
                >Remove selected nodes</button>
            </div>
        </div>
    </div>
</div>
