<div class="shadow-md mb-3 p-2 ps-3 rounded border border-slate-200">
    <h2>Job step {{ jobStep.id }} <span [classList]="[getJobStepStatusColor()]">{{ getJobStepStatusText() }}</span></h2>
    <div class="flex flex-col mt-3">
        <div class="w-full border shadow-md mb-2 p-2 rounded">
            <h3>Job step name</h3>
            <hr class="my-2 w-full">
            <p>{{ jobStep.name }}</p>
        </div>

        <div class="w-full border shadow-md mb-2 p-2 rounded">
            <h3>Job step status message</h3>
            <hr class="my-2 w-full">
            <p>{{ jobStep.job_step_status_message }}</p>
        </div>

        <div class="w-full border shadow-md mb-2 p-2 rounded">
            <h3>Step started on</h3>
            <hr class="my-2 w-full">
            <p>{{ jobStep.started_on | date:"dd. MM. yyyy. HH:mm:ss" }}</p>
        </div>

        <div class="w-full border shadow-md mb-2 p-2 rounded">
            <h3>Step finished on</h3>
            <hr class="my-2 w-full">
            <p>{{ (jobStep.finished_on === null) ? "-" : jobStep.finished_on | date:"dd. MM. yyyy. HH:mm:ss" }}</p>
        </div>
    </div>
</div>
